/* styles.css */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 12px; 
    background-color: rgb(227, 227, 227);
    color: #333;
    padding: 20px;
}

.site-heading{
    text-align: center; /*GYMBROS! Title*/
    margin-bottom: 20px;
    color: rgb(51,51,51);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
}

/* Navigation bar styling */
.navbar {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the links */
    padding: 10px 0; /* Add some padding to the navbar */
}

.navbar a {
    display: inline-block; /* Change to inline-block for button effect */
    color: white;
    text-align: center;
    padding: 10px 20px; /* Add padding for button size */
    margin: 0 10px; /* Add margin between buttons */
    text-decoration: none;
    background-color:#04BA83; /* Button background color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 5px 5px 5px #797A7D;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navbar a:hover {
    background-color: #015c41; /* Darker shade on hover */
}

.navbar a.active {
    background-color: #038F65; /* Same color as hover */
    color: white; /* Ensure text color is white */
    pointer-events: none; /* Optional: Disable clicking on the active link */
}

.error-li {
    color: red;
    font-weight: bold;
  }

.correct-li {
    color: green;
    font-weight: bold;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Space above the table */
}

th, td {
    border: 1px solid #636363; /* Table lines */
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
}

th {
    color: black;
    background-color: rgb(155, 155, 157); /* Light gray background for header */
    font-weight: bold; /* Bold text for header */
}

td{
    background-color: rgb(255, 255, 255);
}

tr:hover {
    color: white;
    background-color: rgb(130, 28, 28); /* Highlight row on hover */
}


